<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanperiond="10 seconds" debug="false" >
    <contextName>logback-spring</contextName>
    <property name="FILE_PATH" value="/Users/joowing/Desktop"/>
    <!-- 该appender的功能是将记录信息以特定格式写到控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--encoder:将事件转换为字符串
            默认配置为PatternLayoutEncoder类
            encoder用于替代Layout，encoder扩展了Layout功能
            Layout功能：只负责把事件转换为字符串，但是不能指定何时将记录写入到指定目的地
            encoder功能：即负责把事件转换为字符串，也可以指定何时将记录写入到指定目的地
         -->
        <encoder>
            <!-- 指定输出格式
                %d{} :表示时间
                %thread:请求记录所在的线程名
                %-5level：用5位显示请求级别
                %logger{36}：输出logger名，{36}表示logger名最大占用的字符位数，{0}表示最简短logger名（不包含包名）。
             -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} -%msg%n</pattern>
        </encoder>
    </appender>
    <!-- 该appender的功能是将记录信息以特定格式写到文件 -->
<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        &lt;!&ndash; $使用变量FILE_PATH的格式,类似Linux中使用的格式：${FILE_PATH} &ndash;&gt;
        <file>${FILE_PATH}/file.log</file>
        <encoder>
            &lt;!&ndash; 指定输出格式 &ndash;&gt;
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} -%msg%n</pattern>
        </encoder>
    </appender>-->
    <appender name="time_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${FILE_PATH}/%d{yyyyMMdd}.log</fileNamePattern>
        <maxHistory>30</maxHistory>
        <!-- maxFileSize:这是活动文件的大小，默认值是10MB-->
        <!--<maxFileSize>100MB</maxFileSize>-->
    </rollingPolicy>
    <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} -%msg%n</pattern>
    </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="time_file"/>
    </root>
    <logger name="ch.qos.logback" level="ERROR"/>
    <logger name="org" level="INFO"/>
    <logger name="com" level="INFO"/>
    <logger name="net" level="INFO"/>
    <logger name="DataNucleus" level="WARN"/>
    <logger name="org.apache" level="INFO"/>
    <logger name="org.apache.commons.httpclient" level="ERROR"/>
    <logger name="net.sf.oval.internal" level="ERROR"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache.tomcat" level="WARN"/>
</configuration>